{% extends 'home.html.twig' %}
{% block title %}
    Liste des critères
{% endblock %}
{% block body %}
    <form action="{{ path('critere_save') }}" method="post">
        {{ form(form) }}
    </form>
{% endblock %}